$-icon-font-family: "icons" !default;
$-icon-font-path: "font" !default;

$icon-radioactive: "\e902";
$icon-upsidedowncross: "\e901";
$icon-album: "\e900";

@font-face {
    font-family: '#{$-icon-font-family}';
    src: url('#{$-icon-font-path}/#{$-icon-font-family}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: '#{$-icon-font-family}' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //speak: never;
}

.icon-upsidedowncross {
    &:before {
        content: $icon-upsidedowncross;
    }
}