@use "font";

:root {
    --bg: #000;
    --fg: #fff;
}

body {
    margin: 2rem;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: monospace;
    background: var(--bg);
    color: var(--fg);
   /*  &.live {
        --bg: #fff;
        --fg: #000;
    }
    */
}

a {
    color: var(--fg);
    text-decoration: none;
}

h1 {
    font-size: clamp(1rem, -0.5rem + 10vw, 3rem);
    letter-spacing: -0.1rem;
}

video {
    display: block;
    border: none;
}

header {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--fg);
    user-select: none;
    pointer-events: none;
    h1 {
        font-family: font.$font-family, sans;
    }
}
@keyframes slide_in_right {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes live_link {
    0% {
        background: #fff;
        color: #000;
    }
    50% {
        background: #000;
        color: #fff;
    }
    100% {
        background: #fff;
        color: #000;
    }
}

nav {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 75%;
    z-index: 10;
    cursor: default;
    >  * {
        margin-left: 1ch;
        background: var(--bg);
    }
    a {
        padding: 2px;
        &.live {
            &[href] {
                animation: live_link 3s infinite;
            }
            &:not([href]) {
                text-decoration: line-through;
            }
       } 
    }
}

main {
    width: 100%;
    height: 100%;
    // padding: 1rem;
}

/*
footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 75%;
    z-index: 10;
    cursor: default;
    >  * {
        margin-left: 1ch;
        background: var(--bg);
    }
    a {
        padding: 2px;
        &.live {
            &:not([href]) {
                text-decoration: line-through;
            }
            /* &.unavailable {
                text-decoration: line-through;
            } * /
       } 
    }
}
*/

#video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
